<h1>UTS SEMINAR MANAGEMENT</h1>
<h1>Login To Your Account</h1>
<form method="POST" action="/login">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button> Submit </button>
</form>
