<head>
<meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<header>
<ul>
  <li><a href="/seminars">UTS SEMINARS</a></li>
  <li style="float:right"><a href="/management">Login</a></li>
</ul>
<header>
    
<h1>Login To Your Account</h1>
<form method="POST" action="/login">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button> Submit </button>
</form>
