<h1> New Seminar </h1>
<form method="POST" action="/new_seminar">
  Title <input type="text" name="title"><br>
  Speaker<input type="text" name="speaker"><br>
  Speaker ID <input type="text" name="speaker_id"><br>
  Date<input type="date" name="date"><br>
  Time <input type="time" name="time"><br>
  Location <input type="text" name="location"><br>
  <button> Submit </button>
</form>
