<head>
<meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<header>
<ul>
  <li><a href="/seminars">UTS SEMINARS</a></li>
  <li style="float:right"><a href="/management">Logout</a></li>
  <li style="float:right"><a> Logged in as: {{username}} <img src="" alt="Profile Icon"></a></li>
</ul>
<header>
    
<!--<h1>UTS SEMINAR MANAGEMENT</h1>
<h2>Logged in as: <img src="" alt="Profile Icon"> </h2>-->

<h1> New Seminar </h1>
<form method="POST" action="/new_seminar">
  Title <input type="text" name="title"><br>
  Speaker<input type="text" name="speaker"><br>
  Speaker ID <input type="text" name="speaker_id"><br>
  Date<input type="date" name="date"><br>
  Time <input type="time" name="time"><br>
  Location <input type="text" name="location"><br>
  <button> Submit </button>
</form>
