<head>
<meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<!--
<h1>Seminars</h1>
<h3>Are you an admin or organiser? Log in <a href='/management'>here</a></h3>-->

<body>
<header>
<ul>
  <li><a href="/seminars">UTS SEMINARS</a></li>
  <li style="float:right"><a href="/management">Login</a></li>
</ul>
<header>

<br/>
    
<!------------- Beginning form (Add Seminar) ------------->
<form action = "/seminars">
Organizer<input type="text" placeholder="organizer name">
Seminar Location<input type="text" placeholder="seminar location">
Speaker<input type="text" placeholder="speaker">
<br/>

Start Date<input type="text" placeholder="start date">
End Date<input type="text" placeholder="end date">
<input type="submit" value="Search"/>
</form>
<br/>
<br/>
<br/>
    
<!------------- Restults table ---------------------------->    
<table border="2">
  <tr>
    <th>Seminar name</th><th>Speaker</th><th>Register</th><th>Info</th>
  </tr>
  <tr>
  <form method="POST" action="/seminars">
  {{#each items}}
    <tr>
    <td>{{title}}</td>
    <td>{{speaker}}</td>
    <td><button value="{{_id}}" name = "register">Register</button></td>
    <td><button value="{{_id}}" name = "info">Info</button></td>
    </tr>
  {{/each}}
  </form>

</body>
