<head>
<meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<!--
<h1>Seminars</h1>
<h3>Are you an admin or organiser? Log in <a href='/management'>here</a></h3>-->

<body>
<header>
<ul>
  <li><a href="/seminars">UTS SEMINARS</a></li>
  <li style="float:right"><a href="/login">Login</a></li>
</ul>
<header>

<br/>

<!------------- Beginning form (Search Seminar) ------------->
Filter by searching:
<br>
<form method="POST" action = "/searchSeminar">
  <select name = "selection">
    <option value="organiser">Organiser</option>
    <option value="room">Room</option>
    <option value="date">Date</option>
    <option value="speaker">Speaker</option>
  </select>
  Query <input type="text" name="input">
  <br>
<input type="submit" value="Search"/>
</form>
<br/>
<br/>
<br/>
{{#if isSearched}}
<form method="POST" action ="/reset">
  <button>Clear Filter</button>
</form>
{{/if}}
<!------------- Results table ---------------------------->
<table border="2">
  <tr>
    <th>Seminar name</th><th>Speaker</th><th>Register</th><th>Info</th>
  </tr>
  <tr>

  <form method="POST" action="/seminars">
  {{#each items}}
    <tr>
    <td>{{title}}</td>
    <td>{{speaker}}</td>
    <td><button value="{{_id}}" name = "register">Register</button></td>
    <td><button value="{{_id}}" name = "info">Info</button></td>
    </tr>
  {{/each}}
  </form>
</table>

</body>
