<head>
<meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<header>
<ul>
  <li><a href="/seminars">UTS SEMINARS</a></li>
  <li style="float:right"><a href="/management">Logout</a></li>
  <li style="float:right"><a> Logged in as: {{username}} <img src="" alt="Profile Icon"></a></li>
</ul>
<header>

<!--<h1>UTS SEMINAR MANAGEMENT</h1>
<h2>Logged in as: <img src="" alt="Profile Icon"> </h2>-->


<h2>Seminar Management</h2>
<li><a href="/management">Seminar Dashboard</a></li>
<li><a href="/attendees">Attendee Dashboard</a></li>
<li><a href="/speakers">Speaker Dashboard</a></li>

<form method="POST" action="/addSpeaker">
  Speaker First Name<input type="text" name="speakerFirstName" placeholder="speaker first name">
  Speaker Last Name<input type="text" name="speakerLastName" placeholder="speaker last name">
  Topic<input type="text" name="topic" placeholder="topic">
  Biography<input type="text" name="biography" placeholder="The speakers biography...">
  <button> ADD SPEAKER </button>
  <button> CLEAR ALL </button>
  </form>
